/* {
	outline: 1px solid red;
}*/

body {
	background: #ccc;
	font-size: 18px;
}

main {
	width: 450px;
	margin-top: 15%;
}

.list {
	list-style: none;
}

.panel-title {
	font-size: 1.5em;
}

.panel-body {
	min-height: 186px;
}

.list-group {
	margin-bottom: 0;
}

.list-group-item {
	border: none;
	padding-top: 0px;
	padding-bottom: 0px;
}

img {
	margin-left: 10px;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.list-group-item:hover {
	background: #ddd;
	color: #337ab7;
}

a:focus {
	text-decoration: none;
}